= form_for(@portfolio) do |f|
  = if @portfolio.errors.any?
    #error_explanation
      %h2
        = pluralize(@portfolio.errors.count, "error") 
        prohibited this portfolio from being saved:

      %ul
      = @portfolio.errors.full_messages.each do |msg|
        %li 
          = msg
      %br

  .field
    = f.text_field :title, placeholder: "Title"

  .field
    = f.text_area :content, placeholder: "Put the portfolio entry in here", rows: 10

  .row
    .col-md-6
      .field
        =f.collection_select(:tag_id, Tag.all, :id, :tag)
        %br
    .col-md-6
      .actions
        = f.submit