= form_for(@journal) do |f|
  = if @journal.errors.any?
    %div{ :id => "error_explanation" }
      %h2
        = pluralize(@journal.errors.count, "error") 
        prohibited this journal from being saved:

      %ul
      = @journal.errors.full_messages.each do |msg|
        %li 
          = msg

  %div{ :class => "field" }
    = f.label :title
    %br 
    %br
    = f.text_field :title

  %div{ :class => "field" }
    = f.label :date
    %br
    %br
    = f.datetime_select :date

  %div{ :class => "field" }
    = f.label :content
    %br
    %br
    = f.text_area :content, rows: 10
    %br

  %div{ :class => "actions" }
    = f.submit