= form_for(@journal) do |f|
  = if @journal.errors.any?
    #error_explanation
      %h2
        = pluralize(@journal.errors.count, "error") 
        prohibited this journal from being saved:

      %ul
      = @journal.errors.full_messages.each do |msg|
        %li 
          = msg

  .field
    = f.text_field :title, placeholder: "Journal title"

  .field
    = f.text_area :content, placeholder: "Put the journal content here", rows: 10
    %br

  .actions
    = f.submit