%div{ :id => "footer" }
	%div{ :class => "container" }
		%div{ :id => "text-container" }
			%div{ :class => "col-md-offset-2 col-md-8" }
				%br
				%p{ :id => "notice" }
					= notice
				%h2{ :class => "orange" }
					= @journal.title

				%h5{ :class => "italic" }
					= @journal.date

				%h5{ :class => "grey" }
					= @journal.content

				= link_to 'Back', journals_path