!!!
%html
%head
	%title=yield(:title)
	= stylesheet_link_tag "application", controller.controller_name
	= stylesheet_link_tag "application", "https://fonts.googleapis.com/css?family=Roboto:300"
	= javascript_include_tag "application", controller.controller_name
	= csrf_meta_tags
	%meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0"}

%body
	=render 'layouts/navbar'

	= yield

	=render 'layouts/footer'